.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logout-btn {
  right: 70px;
  position: absolute;
}

.Home {
  align-items: center;
  text-align: center;
}

.Home-header {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 50px;
  font-weight: 500;
  margin-top: .5em;
  color: #007bff!important;
}

.new-search-btn {
  margin: 30px 0px;
}

.auth {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ant-form-item-control:first-child:not([class^=ant-col-]):not([class*=" ant-col-"]) {
  width: 300px;
}

.user-btn {
  position: absolute !important;
  right: 15px !important;
  margin-top: 15px;
}

.box {
  border-radius: 8px;
  background-color: #e5e5e5;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.review {
  text-align: left;
  margin-left: 50px;
}

.home-txt {
  font-size: 16px;
  width: 60vw;
  margin-left: 8vw;
  text-align: left;
}

.tab {
  text-align: left;
  margin-left: 8%;
  margin-top: 3%;
  margin-right: 8%;
}

